.gallery-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Set a minimum height for consistency */
}

.gallery-card:hover {
    transform: scale(1.05);
}

.gallery-card img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.gallery-card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-card:hover .card-overlay {
    opacity: 1;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}