<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Charlotte Lewis - Portefeuille de compétences</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet" />
    <link href="../../assets/css/portfolioApprentissage.css" rel="stylesheet" />
    <script src="../../assets/js/accordian.js" defer></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header class="header d-flex align-items-center fixed-top py-2">
        <div class="container-fluid align-items-center">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg border-bottom" data-bs-theme="dark">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse container-fluid" id="navbarNav">
                            <ul class="navbar-nav container-fluid justify-content-between">
                                <li class="nav-item"><a class="nav-link" href="../../index.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../aboutMe.html">À propos de moi</a></li>
                                <li class="nav-item"><a class="nav-link" href="../proExperiences.html">Expériences professionnelles</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Galerie de projets
                                    </a>
                                    <ul class="dropdown-menu" style="max-width: fit-content;">
                                        <li><a class="dropdown-item" href="../gallery.html">Projets personnels</a></li>
                                        <li><a class="dropdown-item" href="../SAE_info.html">SAE et TP</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="../contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main style="margin-top: 80px;">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-12 text-end">
                  <a class="btn btn-primary" href="../portfolioApprentissage.html">
                    <i class="bi bi-chevron-left"></i> Retour
                  </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mb-3">Projet de Gestion de Sauvegarde de Fichiers</h2>
                </div>
            </div>
            <!-- =========== Intro =========== -->
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    <ul>
                        <li><strong>Dates du projet</strong> : Décembre 2024 - Janvier 2025</li>
                        <li><strong>Durée du projet</strong> : 3 semaines</li>
                        <li><strong>Équipe</strong> : 3 personnes</li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-lg-8 text-justify">
                    Dans le cadre du cours de continuité de service du BUT Informatique, nous avons développé un programme de gestion de sauvegarde de fichiers en Python. Ce projet, réalisé en équipe de trois en seulement trois semaines, permet d'enregistrer des dossiers sur un serveur du même réseau.
                </div>
            </div>
            <!-- End intro -->
            <div class="row justify-content-center mt-5">
                <h5 class="col-lg-8 text-center">Compétences acquises</h5>
            </div>

            <!-- ===== Beginning of container ==== -->
            <div class="row justify-content-center my-4">
                <!-- ==== Start first column ==== -->
                <div class="col-md-6">
                    <!-- ===== Start first row ==== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading1" onclick="toggleCollapse('collapse1')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Communication et collaboration</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse1">
                            <div class="card-body">
                                <p class="text-justify">Répartition des tâches et validation de l'architecture de base avant le développement.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                    <!-- ============ Start second row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading2" onclick="toggleCollapse('collapse2')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Gestion du changement informatique</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card-body">
                                <p class="text-justify">Accompagnement de la mise en œuvre des évolutions informatiques pour améliorer les processus de sauvegarde.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                    <!-- ============ Start third row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading5" onclick="toggleCollapse('collapse5')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Continuité de l'activité</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse5">
                            <div class="card-body">
                                <p class="text-justify">Mise en place d'un système de vérification des sauvegardes pour éviter le ralentissement de l'ordinateur et assurer la continuité de service.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End third card -->
                    <!-- ====== Start fourth row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading7" onclick="toggleCollapse('collapse7')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Architecture et qualité du code</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse7">
                            <div class="card-body">
                                <p class="text-justify">Développement modulaire et extensible avec une documentation détaillée pour faciliter la maintenance et les évolutions futures.</p>
                                <a href="https://github.com/c-r-lewis/5av-.git">Lien vers le code source</a><sup>1</sup>
                            </div>
                        </div>
                    </div>
                    <!-- End fourth card -->
                    <!-- ====== Start fifth row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading9" onclick="toggleCollapse('collapse9')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Choix des ressources techniques</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse9">
                            <div class="card-body">
                                <p class="text-justify">Utilisation de Python pour maximiser les fonctionnalités dans le rendu final.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End fifth card -->
                </div>
                <!-- End first column -->
                <!-- ======== Start second column ====== -->
                <div class="col-md-6">
                    <!-- ====== Start first row ====== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading3" onclick="toggleCollapse('collapse3')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Mise en œuvre des évolutions informatiques</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse3">
                            <div class="card-body">
                                <p class="text-justify">Développement d'un programme facilitant la gestion des données.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End first card -->
                    <!-- ============ Start second row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading4" onclick="toggleCollapse('collapse4')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Automatisation des processus</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse4">
                            <div class="card-body">
                                <p class="text-justify">Création de fonctionnalités pour réaliser des sauvegardes automatiquement.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End second card -->
                    <!-- ============ Start third row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading6" onclick="toggleCollapse('collapse6')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Sécurisation du système d'information</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse6">
                            <div class="card-body">
                                <p class="text-justify">Implémentation de communications sécurisées avec des sockets et chiffrement des données stockées.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End third card -->
                    <!-- ============ Start fourth row ========== -->
                    <div class="card mb-3">
                        <div class="card-header" id="heading8" onclick="toggleCollapse('collapse8')">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">Documentation et qualité du code</h6>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse" id="collapse8">
                            <div class="card-body">
                                <p class="text-justify">Maintien de la documentation technique et des instructions d'utilisation pour faciliter le développement futur.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End fourth card -->
                </div>
                <!-- End second column-->
            </div>
            <!-- End of container -->

            <!-- Début sommaire des traces -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <p class="underline">Traces</p>
                    <ol>
                        <li><a href="https://github.com/c-r-lewis/5av-.git">Lien vers le code source</a></li>
                    </ol>
                </div>
            </div>
            <!-- Fin sommaire des traces -->
        </div>
    </main>
    <!-- End main -->

    <!-- ======= Footer ======= -->
    <footer class="p-3">
        <div class="container d-flex justify-content-center">
            <!-- Go to Top arrow button -->
            <a href="#">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </footer>

    <!-- JS Files -->
    <script src="../../assets/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>
